/*Import de deux police d'écriture google*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

main {
    display: table-cell;
    text-align: center;
    height: 65vh;
    width: 100vw;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    vertical-align: middle;
}

footer {
    background-color: rgb(196, 193, 193);
    height: 34vh;
    width: 100vw;
    display: inline-block;
    vertical-align: top;
}

/*Nos 3 colonne avec inline-block au lieu de grid*/
.carte {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 33%;
    height: 75%;
    margin-top: 1rem;
}

.coordonnées {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 33%;
    height: 75%;
}

.horaires {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 33%;
    height: 75%;
}


h2 {
    text-align: center;
    font-size: 1.5rem;
}

/*Horaires*/
table th {
    width: 65%;
    text-align: left;
    padding-left: 10rem;
}

table td {
    text-align: left;
}

.center {
    text-align: center;
}

/* Icone */
i {
    font-size: 2rem;
    margin: 1rem;
}

h2,
p,
li {
    font-family: "Source Sans 3", sans-serif;
}